﻿@model ClothBazar.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h2> Are you sure you want to delete this? </h2>
<form method="post">


    <input type="hidden" name="ID" value="@Model.ID" />

    <button type="submit"> Delete </button>


</form>
<a href ="/category/index"> Cancel </a>
